@tailwind base;
@tailwind components;
@tailwind utilities;

th {
	@apply bg-blue-700 text-white;
}
th,
td {
	padding: 15px;
}
tfoot {
	@apply bg-blue-50 border-t border-blue-400;
}

aside {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px;
}
.sign-in-form {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media only screen and (max-width: 640px) {
	aside {
		box-shadow: none;
	}
}
